html {
  font-size: large;
}
h1,
p {
  line-height: 0em;
  margin: 30px 0px 30px 20px;
}
ul {
  padding-inline-start: 20px;
}
li {
  border-top: 2px solid #aaaaaa;
  width: 300px;
  list-style: none;
}
a {
  text-decoration: none;
}
